@import "../../shared/scss/vars";

:host {
  display: block;
  padding: 0  map-get($vote-dimensions, margin);
}


.layout-align-item {
  display: block;

  .form-item {
    margin-bottom: map-get($vote-dimensions, margin);
  }


  &:last-of-type {
    .form-item {
      margin-bottom: 0;
    }
  }
}

.form-item {
  height: map-get($vote-dimensions, height);
  white-space: nowrap;
}

.cta {
  font-size: 1rem;
  margin-top: 20px;
  padding: 4px 12px;
}
