@import "../../shared/scss/vars";

:host {
  display: block;
}


.layout-align-item {
  display: block;

  .form-item {
    margin-bottom: map-get($vote-dimensions, margin);
  }


  &:last-of-type {
    .form-item {
      margin-bottom: 0;
    }
  }
}

.form-item {
  height: map-get($vote-dimensions, height);
  white-space: nowrap;
  margin-right: map-get($vote-dimensions, margin);
}
